<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="Person" class="org.acf.Person" scope="singleton">
        <constructor-arg value="21"/>
        <constructor-arg ref="lap1"/>
<!--        <property name="lap" ref="lap1"/>  -->

    </bean>
    <bean id="lap1" class="org.acf.Laptop">

    </bean>
    <bean id="lap2" class="org.acf.Laptop">

    </bean>
</beans>
